@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item">
            <img src="~/images/Lounge Interior.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Lounge Interior
                </p>
            </div>
        </div>
        <div class="item active">
            <img src="~/images/Restaurant Interior.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Restaurant Interior
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Bedroom Interior.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bedroom Interior
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Pool Interior.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Pool Interior
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-sm-8">
        <h2>Welcome to Western Sydney Hotel</h2>
        <p>
            With luxurious five-star accommodation, the city’s finest restaurants, the coolest selection of bars, and a truly world-class spa, private pool and casino, The Western Sydney Hotel offers so many ways to play. 
            So go on, indulge your passions.
        </p>
    </div>
    
    <div class="col-sm-4">
        <h2> Useful links</h2>
        <ul>
            <li><a href="https://www.google.com.au/search?q=restaurants+in+parramatta&rlz=1C1GCEB_enAU810AU810&oq=Restaurants+in+parr&aqs=chrome.1.69i57j0l5.44159j0j4&sourceid=chrome&ie=UTF-8">Restaurants</a></li>
            <li><a href="https://www.parrapark.com.au/">Parramatta park</a></li>
            <li><a href="http://www.weatherzone.com.au/nsw/sydney/parramatta">Weather</a></li>
        </ul>
    </div>
</div>
